In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
len(df)

32561

### 1. How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [61]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

print(df['race'].value_counts())

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

### 2. What is the average age of men? (should be rounded off to 1 decimal place)

In [5]:
average_age_men = df[df['sex'] == 'Male']['age'].mean().round(1)
average_age_men

39.4

Alternatively, we can do it this way too

In [6]:
Men = df[df['sex'] == 'Male']
avgage = round(Men['age'].mean(), 1)
avgage

39.4

#### 3. What is the percentage of people who have a Bachelor's degree?

In [7]:
Bachelors = df[df['education'] == 'Bachelors']

In [8]:
Nos_of_bach = Bachelors['education'].value_counts()
Nos_of_bach

Bachelors    5355
Name: education, dtype: int64

In [9]:
total_educ = df['education'].count()
total_educ

32561

In [10]:
percentage_bachelors = ((Nos_of_bach / total_educ) * 100).round(1)
percentage_bachelors

Bachelors    16.4
Name: education, dtype: float64

Alternatively, it can be done this way:

In [32]:
percentage_bachelors = (
    ((df.loc[df['education'] == 'Bachelors'].size / df.size) * 100)
    .round(1)
)

percentage_bachelors

16.4

In [16]:
df['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

#### 4. What percentage of people with advanced education ('Bachelors', 'Masters', or 'Doctorate') make more than 50K?

In [17]:
# People with 'Bachelors', 'Masters', or 'Doctorate'

higher_educ = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [30]:
# The percentage of higher_educ that make more than 50K 

higher_educ_rich = (
    
    ((higher_educ.loc[higher_educ['salary'] == '>50K'].size / higher_educ.size) * 100)
    .round(1)
)

higher_educ_rich

46.5

#### 5. What percentage of people without advanced education make more than 50K?

In [24]:
# without 'Bachelors', 'Masters', or 'Doctorate'

lower_educ = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [28]:
# percentage with salary >50k

lower_educ_rich = (
    
    ((lower_educ.loc[lower_educ['salary'] == '>50K'].size / lower_educ.size) * 100)
    .round(1)
)

lower_educ_rich

17.4

#### 6. What is the minimum number of hours a person works per week? (hours-per-week feature)

In [46]:
min_work_hour = df['hours-per-week'].min()
min_work_hour

1

What is the maximum number of hours a person works per week?

In [41]:
max_work_hour = df['hours-per-week'].max()
max_work_hour

99

In [38]:
min_hours = df.loc[df['hours-per-week'] == 1, 'hours-per-week']
min_hours

189      1
1036     1
1262     1
5590     1
5632     1
5766     1
5808     1
8447     1
9147     1
11451    1
19337    1
19750    1
20072    1
20909    1
22960    1
23536    1
24284    1
25078    1
29752    1
32525    1
Name: hours-per-week, dtype: int64

In [53]:
len(min_hours)

20

#### 7. What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [47]:
num_min_workers = df.loc[df['hours-per-week'] == min_work_hour]

In [50]:
rich_percentage = (
    round(
        100 * (num_min_workers.loc[num_min_workers['salary'] == '>50K'].size / num_min_workers.size)
    )
)

rich_percentage

10

#### 8. What country has the highest percentage of people that earn >50K and what is that percentage?

In [53]:
# Country with the highest percentage of people that earn >50K

highest_earning_country = (
    
    df[['salary', 'native-country']]
    .groupby('native-country')
    .apply(lambda x: (x.loc[x['salary'] == '>50K'].size / x.size) * 100)
    
).idxmax()

highest_earning_country

'Iran'

In [54]:
# Their percentage

highest_earning_country_percentage = (
    
    round(
        df[['salary', 'native-country']]
        .groupby('native-country')
        .apply(lambda x: (x.loc[x['salary'] == '>50K'].size / x.size) * 100)
        ,1).max()
)

highest_earning_country_percentage

41.9

In [59]:
# Alternatively!

highest = (
    
        round(
            df[["salary", "native-country"]]
        .groupby("native-country")
        .apply(lambda g: g.loc[g["salary"] == ">50K"].value_counts() / g['salary'].count() * 100).max(), 
            1)
    
    )
    
highest

41.9

#### 9. Identify the most popular occupation for those who earn >50K in India.

In [149]:
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [242]:
df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]['occupation'].value_counts().idxmax()

'Prof-specialty'